.circularImages
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 800px;

}

.fonting
{
    font-weight: bolder;
    font-size: larger;
    color: pink
}

.card {
    position: relative;
    top: 0;
    transition: top ease 0.5s;
    box-shadow: 0 50px 50px 0 rgb(0 0 0 / 50%);
}
.card:hover {
    top: -10;
    box-shadow: 0 2px 3px 0 rgb(0 0 0 / 50%);
}