<div class="header">

    <div class="header-cart">
        <i class="fab fa-opencart fa-2x me-3 mt-2" style="color: deeppink;font-weight: bolder;" (click)="openUserCart()"></i>
    </div>
    <div class="header-item">
        <img class="header-item-image me-5" src="https://res.cloudinary.com/shankari/image/upload/v1625153967/userImages/photo-1625153965194.jpg"
           alt="Image">
    </div>
</div>

<!-------------------------------- app-products ---------------------------->
<app-products></app-products>
