.buttonclass
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100px;
}

.card {
    position: relative;
    top: 0;
    transition: top ease 0.5s;
    box-shadow: 0 10px 15px 0 rgb(0 0 0 / 50%);
}
.card:hover {
    position: relative;
    top: 0;
    transition: top ease 0.5s;
    box-shadow: 0 2px 3px 0 rgb(0 0 0 / 50%);
}
