<div class="container mt-5 text-white">
<div class="row">
    <div class="col-12 col-sm-12 col-md-6 col-lg-6">
      <h1 class="mb-5">Contact Us</h1>
  
        <div class="row">
          <div class="col-2 text-center mx-auto">
            <h2>
              <li><i class="fas fa-address-card text-white"></i></li>
            </h2>
          </div>
          <div class="col-10">
            <h5 class="text-white">Address</h5>
            <h6>123 Main Street, Anytown, CA 12345 – USA</h6>
          </div>
        </div>
  
        <hr>
  
        <div class="row">
          <div class="col-2 text-center mx-auto">
            <h2>
              <li><i class="fas fa-phone"></i></li>
            </h2>
          </div>
          <div class="col-10">
            <h5 class="text-white">Phone</h5>
            <h6>Mobile: (08) 123 456 789</h6>
            <h6>Hotline: 1009 678</h6>
          </div>
        </div>
  
        <hr>
  
        <div class="row">
          <div class="col-2 text-center mx-auto">
            <h2>
              <li><i class="far fa-envelope"></i></li>
            </h2>
          </div>
          <div class="col-10">
            <h5 class="text-white">Email</h5>
            <h6>Example@email.com</h6>
            <h6>AnotherExample@gmail.com</h6>
          </div>
        </div>
      
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-6">
      <img class="float-left" src="https://illustratious.s3.amazonaws.com/screenshots/9m7nxn-letter-box-webp.webp"
       alt="" width="100%" height="auto">
    </div>
  </div>
  <!-- 2nd row -->
  <div class="row">
    <div class="col-12 col-sm-12 col-md-6 col-lg-6">
      <img class="float-left" src="https://illustratious.s3.amazonaws.com/screenshots/7wtcz6-message-sent-webp.webp"
       alt="" width="100%" height="auto">
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-6">
      <h1 class="mb-5">Tell Us Your Message</h1>
      
      <form>
        <div class="mb-3">
          <p style="font-weight: bolder;color: aliceblue;">Email</p>
          <input type="email" class="form-control" style="color: black;" palceholder="work email" id="email">
        </div>
        
        <div class="form-floating">
          <textarea class="form-control text-dark" style="color: black;"
           placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
          <label for="floatingTextarea2 text-dark">Comment or Message</label>
        </div>
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        <button type="submit" class="btn btn-primary mt-4 d-block">Submit</button>
      </form>
    </div>
  </div>
</div>
