li{
    list-style: none;
}

h6{
    font-weight:normal;
}

/* .bgclass
{
    background-image: url("https://st2.depositphotos.com/1265075/7446/i/600/depositphotos_74468913-stock-photo-contact-us-icons-on-cubes.jpg");
    background-size: 100% 100%;


} */

