<div class="wrapper">
    <div class="parent">
        <div id="crs" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button tupe="button" data-bs-target="#crs" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide1"></button>
                    <button tupe="button" data-bs-target="#crs" data-bs-slide-to="1" aria-label="Slide2"></button>
                    <button tupe="button" data-bs-target="#crs" data-bs-slide-to="2" aria-label="Slide3"></button>
                    <button tupe="button" data-bs-target="#crs" data-bs-slide-to="3"  aria-label="Slide4"></button>
                    <button tupe="button" data-bs-target="#crs" data-bs-slide-to="4"  aria-label="Slide5"></button>
                </div>
                <div class="carousel-inner mt-2">
                <div class="carousel-item active" data-bs-interval="1000">
                    <img src="https://res.cloudinary.com/shankari/image/upload/v1626347295/samples/a94b226e-baff-4b2e-8a92-1bfe021ff37b1626273606348-KidsFest_DK_pyxfuv.jpg" class="d-block" height="600px" width="600px" alt="">
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                    <img src="https://www.shoelayers.com/image/cache/catalog/slideshow/shoelayers/shoelayer%20banners-14%20-%20Copy-1650x550.jpg" class="d-block" height="600px" width="1200px" alt="">
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                    <img src="https://res.cloudinary.com/shankari/image/upload/v1626347295/samples/3bef615c-e657-4a36-81f4-e974d83df17f1626273606304-Desktop-banner_fjyvzh.webp" class="d-block" height="600px" width="1200px" alt="">
                </div>
                <div class="carousel-item " data-bs-interval="2000">
                    <img src=" https://www.luxurycity.com.sg/shop/media/queldorei/shopper/revolution/GSS_Slider-2_1.jpg" class="d-block" height="600px" width="1200px" alt="">
                </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#crs" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#crs" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
            </div>
            

        <!-- LANDING PAGE -->

        <div class="container landing p-4">
            <div class="landingText">
                <h1 style="font-family: 'Festive', cursive;font-family: 'Uchen', serif;">Ready to shop?<span style="color:#e0501b;font-size: 4vw"></span> </h1>
                <h3><br> </h3>
                <div class="btn">
                 <a class="" (click)="openRegister()">Shop now</a> 
                </div>
            </div>
            <div class="landingImage">
                <img src="https://res.cloudinary.com/shankari/image/upload/v1626072126/samples/work-8_jfbow8.jpg" alt="">
            </div>
        </div>
        <div>
           
           </div>
        <div class="banner">
            <div class="bannerText" data-aos="fade-down" data-aos-duration="1000">
                <h1 style="font-weight: bolder;color:whitesmoke">UPTO 50% OFF<br> <span style="font-size:1.6vw;font-weight:normal"  class="bannerInnerText">
                    Stay Updated and get all your needs taken care of!
                </span> </h1>
                 <img src="https://res.cloudinary.com/shankari/image/upload/v1626072124/samples/work-1_amtxpq.jpg" alt="">
                <img src="https://res.cloudinary.com/shankari/image/upload/v1624893111/samples/ecommerce/analog-classic.jpg" alt=""> 
            </div>
            <div class="bannerImg" data-aos="fade-up" data-aos-duration="1000">
                <img src="https://res.cloudinary.com/shankari/image/upload/v1626072123/samples/aboutImg-2_p1bs91.jpg" alt="">
            </div>
        </div>
        <div>
         <!-- <strong><hr></strong> -->
        </div>

        <!-- INFO SECTION -->

        <div class="infoSection">
            <div class="infoHeader mt-4 mb-3" >
                <h1><i class="fas fa-tshirt"></i>NEW ARRAIVALES<br>for men,women and kids <span style="color:#e0501b"></span> </h1>
            </div>
            <p></p>
            <p></p>
            <br>
            <p></p>
            <div class="infoCards">
                <div class="card one" >
                    <img src="https://illustratious.s3.amazonaws.com/screenshots/m7rku1-shopping-spree-webp.webp" class="cardoneImg" alt="">
                    <div class="cardbgone"></div>
                    <div class="cardContent">
                        <br>
                        <br>
                        <h2>For Men</h2>
                        <p>cool ans stylish</p>
                        <a href="https://binge.com.au/">
                            <div class="cardBtn">
                                <img src="https://res.cloudinary.com/shankari/image/upload/v1626072124/samples/work-1_amtxpq.jpg" alt="" class="cardIcon">
                            </div>
                        </a>
                    </div>
                </div>
                <div class="card two" >
                    <img src="https://illustratious.s3.amazonaws.com/screenshots/r8747r-modern-woman-shopping-online-webp.webp" class="cardtwoImg" alt="">
                    <div class="cardbgtwo"></div>
                    <div class="cardContent">
                        <br>
                        <br>
                        <h2>For Women</h2>
                        <p>classy and Spring forward</p>
                        <a href="https://res.cloudinary.com/shankari/image/upload/v1626072124/samples/work-1_amtxpq.jpg">
                            <div class="cardBtn">
                                <img src="https://res.cloudinary.com/shankari/image/upload/v1626072124/samples/work-1_amtxpq.jpg" alt="" class="cardIcon">
                            </div>
                        </a>
                    </div>
                </div>
                <div class="card three">
                    <img src="https://illustratious.s3.amazonaws.com/screenshots/3wskdt-online-cart-webp.webp" class="cardthreeImg" alt="" >
                    <div class="cardbgone"></div>
                    <div class="cardContent">
                        <br>
                        <br>
                        <h2>For Kids</h2>
                        <p>Water Proof</p>
                        <a href="https://wa.me/">
                            <div class="cardBtn">
                                <img src="https://res.cloudinary.com/shankari/image/upload/v1626072124/samples/work-1_amtxpq.jpg" alt="" class="cardIcon">
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>


        <!-- BANNER AND FOOTER -->

        
    </div>
    <footer class="d-flex flex-wrap text-white p-4 mt-5 justify-content-between">

        <div>
        <h4>CUSTOMER SERVICE</h4>
        <p>Return Policy</p>
        <p>Amazon cares</p>
        <p>
            Information
        </p>
        <p>
            Sitemap
        </p>
        </div>
        <div>
            <h4>MY ACCOUNT</h4>
            <p>Order Status</p>
            <p>Saved Status</p>

            <p>
                
            My Returns 
            </p>
            </div>
            <div>
                <h1 class="display-1 text-white text-center"><i class="fas fa-snowman fa-3x"></i></h1>
                <h2 class="text-white text-center ">Easy Buy</h2>
                </div>
            <div>
                <h4>OTHERS</h4>
                <p>Find A Store</p>
                <p>Terms & Conditions</p>
                <p>Privacy Policy</p>
                <p>FAQ</p>
               </div>

        
    
        <div>
        <h4>CONNECT</h4> 
        <p>Facebook</p>
        <p>Twitter</p>
        <p>Instagram</p>
        </div>
    
</footer>
    

